Frugal Shop/Web References/frugalservice/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetrieveManSale">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveManSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveManSaleResult" type="tns:ArrayOfTMan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTMan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tMan" nillable="true" type="tns:tMan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tMan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Thumbnail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveWomanSale">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveWomanSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveWomanSaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveHomeSale">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveHomeSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveHomeSaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveManSaleSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveManSale" />
  </wsdl:message>
  <wsdl:message name="RetrieveManSaleSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveManSaleResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveWomanSaleSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveWomanSale" />
  </wsdl:message>
  <wsdl:message name="RetrieveWomanSaleSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveWomanSaleResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveHomeSaleSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveHomeSale" />
  </wsdl:message>
  <wsdl:message name="RetrieveHomeSaleSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveHomeSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="RetrieveManSale">
      <wsdl:input message="tns:RetrieveManSaleSoapIn" />
      <wsdl:output message="tns:RetrieveManSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveWomanSale">
      <wsdl:input message="tns:RetrieveWomanSaleSoapIn" />
      <wsdl:output message="tns:RetrieveWomanSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHomeSale">
      <wsdl:input message="tns:RetrieveHomeSaleSoapIn" />
      <wsdl:output message="tns:RetrieveHomeSaleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveManSale">
      <soap:operation soapAction="http://tempuri.org/RetrieveManSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveWomanSale">
      <soap:operation soapAction="http://tempuri.org/RetrieveWomanSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHomeSale">
      <soap:operation soapAction="http://tempuri.org/RetrieveHomeSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveManSale">
      <soap12:operation soapAction="http://tempuri.org/RetrieveManSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveWomanSale">
      <soap12:operation soapAction="http://tempuri.org/RetrieveWomanSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHomeSale">
      <soap12:operation soapAction="http://tempuri.org/RetrieveHomeSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://pichakafoods.com/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://pichakafoods.com/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>